{% extends 'base.html' %}
{% block mainhead %}
    <title>信息采集</title>
    {% load static %}
    <script src="{% static "js/jquery.js" %}"></script>
    <script src="{% static "js/student.js" %}" text="javascript"></script>
    <script src="{% static "js/specialist.js" %}" text="javascript"></script>
        <script>
        function myFunction(){
            alert("添加成功");
        }
    </script>
{% endblock mainhead %}

{% block maintitle %}
    <h1>信息采集</h1>
{% endblock maintitle %}

{% block mainbody %}
    <form class="pure-form pure-form-aligned form-left" action="/specialist/add/" method="POST" 
        onsubmit="return add_specialist(this)">
        {% csrf_token %}
        <fieldset>
            <div class="pure-control-group">
                <label for="name">姓名</label>
                <input name="name" id="name" type="text" placeholder="姓名" required>
            </div>

            <div class="pure-control-group">
                <label for="sex">性别</label>
                <select name="sex" id="sex">
                    <option value="男">男</option>
                    <option value="女">女</option>
                </select>
            </div>

            <div class="pure-control-group">
                <label for="phone">手机号</label>
                <input name="phone" id="phone" type="text" placeholder="手机号" required>
            </div>
            <div class="pure-control-group">
                <label for="email">邮箱</label>
                <input name="email" id="email" type="text" placeholder="邮箱" required>
            </div>

            <div class="pure-control-group">
                <label for="volunteer1">志愿1</label>
                <input name="volunteer1" id="volunteer1" type="text" placeholder="志愿1" required>
            </div>

            <div class="pure-control-group">
                <label for="volunteer2">志愿2</label>
                <input name="volunteer2" id="volunteer2" type="text" placeholder="志愿2" required>
            </div>

            <div class="pure-control-group">
                <label for="volunteer3">志愿3</label>
                <input name="volunteer3" id="volunteer3" type="text" placeholder="志愿3" required>
            </div>

            <div class="pure-control-group">
                <label></label>
                <button class="pure-button pure-button-primary" onclick="myFunction()" type="submit">增加</button>
                <p class="error" id="error"></p>
            </div>

        </fieldset>
    </form>

    <form class="pure-form" action="/specialist/add/" method="GET">
        {% csrf_token %}
        <fieldset>
        <button type="submit" class="pure-button pure-button-primary">查询</button>
        </fieldset>
    </form>

    <table class="pure-table" style="width: 100%;">
    <thead>
        <tr>
            <th>学生名</th>
            <th>序号</th>
        </tr>
    </thead>

    <tbody>
        {% for student in student_list %}
        <tr>
            <td>{{ student.name }}</td>
            <td>{{ student.rank }}</td>
        </tr>
        {% endfor %}
    </tbody>
    </table>
{% endblock mainbody %}